@font-face {
  font-family: LabGrotesque;
  src: url("f/LabGrotesque-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: LabGrotesque;
  src: url("f/LabGrotesque-Black.woff2");
  font-weight: 900;
}
:root {
  --h: .8rem; /* page-spacing-horizontal */
  --v: 2rem; /* section-spacing-vertical */
  --w: 100%; /* section-width */
  --s: .8rem; /* font-size-small */
  --l: 1.6rem; /* font-size-large */
  --f: 20px; /* font-size-base */
  --i: 1.6; /* line-height */
  --m: 33.8%; /* magic-number */
  --o: .42; /* opacity */
}
@media (prefers-color-scheme: dark) {
  body {
    background: #171717;
    color: #bebebe;
  }
}
@media (min-width: 375px) {
  :root {
    --f: 25px;
    --l: 1.28rem;
    --v: 2.25rem;
  }
}
@media (min-width: 768px) {
  :root {
    --w: 27.5rem;
    --v: 2.4rem;
    --i: 1.65;
  }
}
@media (min-width: 1000px) {
  :root {
    --f: 24px;
    --w: 30.5rem;
    --i: 1.7;
  }
  .m {
    padding-left: var(--m);
  }
  article {
    display: flex;
  }
  h3 {
    min-width: var(--m);
    position: relative;
    top: .25rem;
  }
}
@media (min-width: 1100px) {
  :root {
    --f: 28px;
    --w: 31rem;
  }
}
@media (min-width: 1280px) {
  :root {
    --v: 2.6rem;
  }
}
@media (min-width: 1440px) {
  :root {
    --f: 32px;
  }
}
@media (min-width: 1600px) {
  :root {
    --f: 36px;
    --v: 3.2rem;
  }
}
@media (min-width: 1900px) {
  :root {
    --f: 40px;
  }
}
@media (min-width: 2400px) {
  :root {
    --f: 50px;
  }
}
html {
  font-size: var(--f);
  font-family: LabGrotesque,BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
body {
  font-size: 1rem;
  line-height: var(--i);
  margin: 0;
}
header, main, section {
  margin: 0 auto;
  max-width: var(--w);
  padding-left: var(--h);
  padding-right: var(--h);
}
header {
  padding-top: .8rem;
  font-size: var(--s);
  opacity: var(--o);
  font-weight: 900;
}
main, section {
  padding-top: var(--v);
  padding-bottom: var(--v);
}
section:last-child {
  padding-bottom: 27.5vh;
}
h1, h2, h3, p {
  margin: 0;
}
h1, h2 {
  font-size: var(--l);
  font-weight: 900;
  letter-spacing: -0.005em;
  line-height: calc(var(--i) / 1.2);
  padding-bottom: calc(var(--v) / 2);
}
h3 {
  font-size: var(--s);
  opacity: var(--o);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
p + p, article + article {
  padding-top: calc(var(--v) / 2);
}
a[href^="mailto:"],
a[href^="mailto:"]:active,
a[href^="mailto:"]:visited {
  display: block;
  color: inherit;
  text-decoration: none;
}
em {
  font-style: normal;
  text-decoration: underline;
  transition: opacity .3s ease-out;
}
a[href^="mailto:"]:hover > em {
  opacity: var(--o);
}
